<div  class="pantalla" >
 <span class="tamaño" >{{valor1}}</span>

</div>


<div class="boton">
   <button type="button" class="btn1" (click)="suma()">+</button>
  <button type="button"  class="btn2" (click)="resta()">-</button> 
</div>
<div class="alerta">
  <p *ngIf="mensaje == true"> No es posible sobrepasar el limite </p>
</div>

